/notebooks/.ipynb_checkpoints/
/czip_example_data/
/cytozip/cz_accel.c
/cytozip/*.so
/cytozip/__pycache__/
/cytozip.egg-info/
/ChunkZIP.egg-info/
/cytozip/cz_accel.cpython-38-darwin.so
/build/
/dist/
.eggs/
.idea/
.DS_Store
tests/__pycache__/