/notebooks/.ipynb_checkpoints/
/cytozip_example_data/
/cytozip/cz_accel.c
/cytozip/*.so
/cytozip/__pycache__/
/cytozip.egg-info/
/ChunkZIP.egg-info/
/cytozip/cz_accel.cpython-38-darwin.so
/cytozip/cz_accel.cpython-310-x86_64-linux-gnu.so
/build/
/dist/
.eggs/
.idea/
.DS_Store
/__pycache__/
/.vscode/
tests/__pycache__/
tests/__pycache__/
tests/__pycache__/*
tests/__pycache__/test_remote.cpython-310-pytest-8.4.1.pyc
