/notebooks/.ipynb_checkpoints/
/example/
/cytozip/cz_accel.c
/cytozip/cz_accel.cpython-311-x86_64-linux-gnu.so
/cytozip/__pycache__/
/cytozip.egg-info/
/ChunkZIP.egg-info/
/cytozip/cz_accel.cpython-38-darwin.so
/build/
/dist/
.eggs/
.idea/
.DS_Store